/.gitattributes     export-ignore
/.github            export-ignore
/.gitignore         export-ignore
# /art                export-ignore
# /docs               export-ignore
/.editorconfig      export-ignore
/phpstan.neon       export-ignore
/phpunit.xml        export-ignore
# /pint.json          export-ignore
/tests              export-ignore
/UPGRADING.md       export-ignore
