<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    bootstrap="vendor/autoload.php"
    colors="true"
    xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.4/phpunit.xsd"
>
    <testsuites>
        <testsuite name="Test Suite">
            <directory>./src</directory>
            <directory>./tests</directory>
        </testsuite>
    </testsuites>
</phpunit>
